apex==0.9.10.dev0
denoising_diffusion_pytorch==0.27.12
diffdist==0.1
kornia==0.6.8
matplotlib==3.6.0
medmnist==2.1.0
numpy==1.24.2
opencv_python==4.6.0.66
Pillow==9.4.0
scikit_learn==1.2.2
tensorboardX==2.6
thop==0.1.1.post2209072238
torch==1.11.0
torchlars==0.1.2
torchvision==0.12.0
